<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Control de Alumno</h1>
        <h3>Curso:</h3>
        <select>
            <option value="" disabled selected>Seleccione Curso</option>
            <option>Primer Año</option>
            <option>Segundo Año</option>
            <option>Tercer Año</option>
        </select>
        <h3>Alumno:</h3>
        <select>
            <option value="" disabled selected>Seleccione Alumno</option>
            <option>Pepe</option>
            <option>Juan</option>
            <option>Pablo</option>
        </select>
        <h3>Control:</h3>
        <input type="checkbox" name="asistencia" value="Presente">Presente
        <hr>
        <form>
            <input type="checkbox" name="control" value="Guardapolvo">Trajo Guardapolvo
            <br>
            <input type="checkbox" name="control" value="Antiparras">Trajo Antiparras
        </form>
        <hr>
        <p>Observaciones:</p><input>
    </body>
</html>